<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header><%- include("../components/navbar") %></header>
    <main>
      <section id="hero">
        <div class="py-5 px-5 text-center">
          <div>
            <h1 class="display-4 mb-4">Hello, world!</h1>
            <p class="lead mb-4">
              This is a simple hero unit, a simple jumbotron-style component for
              calling extra attention to featured content or information.
            </p>
            <p>
              It uses utility classes for typography and spacing to space
              content out within the larger container.
            </p>
            <p class="lead mb-4">
              <a class="btn btn-primary btn-lg" href="#" role="button"
                >Learn more</a
              >
            </p>
          </div>
        </div>
      </section>
      <section id="content">
        <div class="container">
          <div class="d-flex flex-row justify-content-center flex-wrap">
            <div class="p-2">
              <div class="card" style="width: 18rem">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-2">
              <div class="card" style="width: 18rem">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-2">
              <div class="card" style="width: 18rem">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="p-2">
              <div class="card" style="width: 18rem">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include("../components/footer") %>
    </main>
    <%- include("../partials/scripts") %>
  </body>
</html>
